{% extends 'base.html' %}

{% block seo %}
<title>Remote World - Contribute</title>
{% endblock seo %}

{% block main %}
{% block navbar %}

<div class="navbar bg-base-100 px-10">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl text-accent">rmtwrld</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 font-bold">
      <li><a href="https://discord.gg/hmDmyzt7ej" target="_blank">Community</a></li>
      <li><a href="https://github.com/rmtwrld/remoteworld" target="_blank">GitHub</a></li>
    </ul>
  </div>
</div>

{% endblock navbar %}

<article class="prose mx-20 pb-20">
  <div class="inline-flex">
    <h1>Remote <span class="text-accent">World 🦄</span></h1>
  </div>
    <h3>What is rmtwrld?</h3>
    <p>Remote world helps remote workers and digital nomads worldwide find cafés and workspaces.</p>
    <h3>What can rmtworld be?</h3>
    <p>
        The vision I hold for rmtwrld is to transform it into a product
        that impeccably caters to the diverse needs of digital nomads spanning the globe. 
    </p>
    <p>    
        From effortlessly reserving seats at workspaces while on the move, 
        to providing comprehensive nomad insurance, streamlining the hiring process, 
        and fostering a cohesive global community that embarks on a collective journey. 
        In my mind's eye, I foresee rmtworld's evolution into nothing short of an internet-based nation,
        revolutionizing the way nomads connect and thrive.
    </p>
    <h3>Contributing</h3>
    <p>The project is open source and I'd love to see contributions from nomads all over the world. You can find the code on <a href="https://github.com/rmtwrld/remoteworld" target="_blank" class="text-accent">GitHub</a>.</p>
    <p>If you want to help with community activities, reach out to @thetronjohnson on our <a href="https://discord.gg/hmDmyzt7ej" target="_blank" class="text-accent">Discord Community</a> or <a href="https://x.com/thetronjohnson" target="_blank" class="text-accent">@thetronjohnson on X</a></p>
    <p>You can also reach out to me at <a href="mailto:k@remoteworld.space" class="text-accent">k@remoteworld.space</a></p>
  </article>

{% endblock main%}