{% extends 'base.html' %}

{% block seo %}
<title>Remote World</title>
{% endblock seo %}


{% block main %}
{% block hero %}

<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-full">
      <h1 class="text-3xl font-bold pt-20">Remote World</h1>
      <h1 class="text-5xl font-bold my-3">Explore top rated cafes &amp; coworking spaces</h1>
      <div class="my-8">
        <div class='max-w-md mx-auto'>
          <form type="GET" action=".">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="justify-center mt-4 flex">
                <input name="destination" id="destination" type="text" placeholder="Where are you working from today?" class="input input-bordered input-primary bg-white w-full max-w-xs" required />
                <button id="destination_submit" type="submit" class="mx-1 btn btn-active btn-primary">Find spaces</button>
              </div>
        </form>
      </div>
      <div class="mt-8">
        <h1 class="text-xl font-bold"><a class="link link-accent">Join the community</a></h1>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
{% endblock hero %}

{% endblock main %}