{% extends 'base.html' %}
{% load static %}

{% block seo %}
<title>Remote World - Find the Best Cafes and Spaces for Digital Nomads and Remote Workers</title>
<meta name="title" content="Remote World - Find the Best Cafes and Spaces for Digital Nomads and Remote Workers" />
<meta name="description" content="Discover Your Perfect Workspace: Find the Best Cafes and Spaces for Digital Nomads and Remote Workers | For digital nomads and remote workers " />
<meta name="keywords" content="digital nomad spaces, remote work cafes, co-working locations, productive work environments, nomad-friendly cafes, workspace for remote workers, cafe workspaces worldwide, coworking hubs, nomad-friendly amenities, work and travel spots, remote work hotspots, digital nomad community, remote work solutions, global coworking, cafe office spaces, productivity on the go, digital nomad resources, remote work networking, café workstations, nomadic lifestyle support">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="7 days">

<meta property="og:type" content="website" />
<meta property="og:url" content="https://remoteworld.space" />
<meta property="og:title" content="Remote World - Find the Best Cafes and Spaces for Digital Nomads and Remote Workers" />
<meta property="og:description" content="Discover Your Perfect Workspace: Find the Best Cafes and Spaces for Digital Nomads and Remote Workers | For digital nomads and remote workers " />
<meta property="og:image" content="{% static 'img/remoteworld.png' %}" />


<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://remoteworld.space" />
<meta property="twitter:title" content="Remote World - Find the Best Cafes and Spaces for Digital Nomads and Remote Workers" />
<meta property="twitter:description" content="Discover Your Perfect Workspace: Find the Best Cafes and Spaces for Digital Nomads and Remote Workers | For digital nomads and remote workers " />
<meta property="twitter:image" content="{% static 'img/remoteworld.png' %}" />

{% endblock seo %}


{% block main %}
{% block hero %}

<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-full">

      <div class="avatar">
        <div class="w-28 rounded">
          <img src="{% static 'img/rmtwrld.png' %}">
        </div>
      </div>

      <h1 class="text-5xl font-bold my-3">Find top cafes &amp; coworking spaces to work</h1>
      <div class="my-8">
        <div class='max-w-md mx-auto'>
          <form type="GET" action=".">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="justify-center mt-4 flex">
                <input name="destination" id="destination" type="text" placeholder="Where are you working from today?" class="input input-bordered input-primary bg-base-100 w-full max-w-xs" required />
                <button id="destination_submit" type="submit" class="mx-2 btn btn-active btn-primary shadow-md">Find spaces</button>
              </div>
        </form>
      </div>
      <div class="mt-8">
        <h1 class="text-xl font-bold"><a href="https://discord.gg/hmDmyzt7ej" target="_blank" class="link link-accent">Join the community</a> / <a href="/contribute" class="link link-accent">Contribute</a></h1>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
{% endblock hero %}

{% endblock main %}