{% extends 'base.html' %}
{% load static %}

{% block seo %}
<title>Remote World</title>
{% endblock seo %}


{% block main %}
{% block hero %}

<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-full">

      <div class="avatar">
        <div class="w-28 rounded">
          <img src="{% static 'img/rmtwrld.png' %}">
        </div>
      </div>

      <h1 class="text-5xl font-bold my-3">Find top cafes &amp; coworking spaces to work</h1>
      <div class="my-8">
        <div class='max-w-md mx-auto'>
          <form type="GET" action=".">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="justify-center mt-4 flex">
                <input name="destination" id="destination" type="text" placeholder="Where are you working from today?" class="input input-bordered input-primary bg-base-100 w-full max-w-xs" required />
                <button id="destination_submit" type="submit" class="mx-2 btn btn-active btn-primary shadow-md">Find spaces</button>
              </div>
        </form>
      </div>
      <div class="mt-8">
        <h1 class="text-xl font-bold"><a href="https://discord.gg/hmDmyzt7ej" target="_blank" class="link link-accent">Join the community</a> / <a href="/contribute" class="link link-accent">Contribute</a></h1>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
{% endblock hero %}

{% endblock main %}