{% extends 'base.html' %}
{% load static %}
{% block main %}
{% block navbar %}

<div class="navbar bg-base-100 px-10">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl text-accent">rmt-wrld</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 font-bold">
      <li><a>Community</a></li>
      <li><a>GitHub</a></li>
    </ul>
  </div>
</div>

{% endblock navbar %}
<div class="hero min-h-screen" alt="Photo by Antoine Rault" style="background-image: url({% static 'img/background_1.jpeg' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hey! Your space has been submitted</h1>
        <p class="mb-5 text-xl">We'll just do a quick check and approve your listing. Meanwhile why not join our community?</p>
        <button class="btn btn-primary">Join the community</button>
      </div>
    </div>
  </div>
{% endblock main %}